#btn_login, #form_logout {
    margin-right: 25px;
}

body {
    min-height: 100vh;
}

main {
    flex: 1;
}

#mainframe .form-group {
    margin-bottom: 20px;
}

.login-form {
    padding-bottom: 85px;
}
