<main class="container d-flex flex-column align-items-center justify-content-center">
    <form action="/actions/login.php" class="form-horizontal col-sm-3 login-form" role="form" method="post">
    <p class="text-center fs-3">Вход</p>
    <div class="form-group row">
      <label for="" class="col-form-label">Логин:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group row" id="downpls">
      <label for="" class="col-form-label">Пароль:</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="form-group row p-3">
        <div class="col-sm-12 d-flex flex-column align-items-center">
          <input type="submit" class="btn btn-primary col-sm-4" value="Войти"/>
        </div>
      </div>
  </form>
</main>